.car {
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  height: 140px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

.car__btn {
  height: 40px;
  align-items: end;
  display: flex;
  gap: 2px;
}

button {
  height: 20px;
  cursor: pointer;
}

.active {
  background-color: red;
}
