/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.active a{
  color: red;
}

.wrap__left, .wrap__right {
  width: 400px;
}

