/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

.active {
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.left-side, .right-side {
  width: 300px;
}
